<div>
    <ng-container *ngIf="isLogged">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createSkills">
            <span class="iconify" data-icon="grommet-icons:new-window"></span>
        </button>
    </ng-container>

    <div class="modal fade" id="createSkills" tabindex="-1" aria-labelledby="createSkillsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editarSkillsLabel">CREAR SKILLS<span class="iconify" data-icon="grommet-icons:new-window"></span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #form="ngForm" class="needs-validation" novalidate>
                        <div>
                            <h2>Skill</h2>
                            <div class="mb-3">
                                <label for="nombreSkill" class="form-label">Nombre Skill: </label>
                                <input class="form-control" type="text" id="nombreSkill" name="nombreSkill"
                                    [(ngModel)]="skillsApplication.nombreSkill" required maxlength="50" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="porcentaje">Porcentaje: </label>
                                <input class="form-control" type="text" id="porcentaje" name="porcentaje"
                                    [(ngModel)]="skillsApplication.porcentaje" minlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="imgsrc">ingrese la Url de la Skill: </label>
                                <input class="form-control" type="text" id="imgsrc" name="imgsrc"
                                    [(ngModel)]="skillsApplication.imgsrc" minlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="colorInterno">Color Interno: </label>
                                <input class="form-control" type="color" id="colorInterno" name="colorInterno"
                                    [(ngModel)]="skillsApplication.colorInterno" minlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="colorExterno">Color Externo: </label>
                                <input class="form-control" type="color" id="colorExterno" name="colorExterno"
                                    [(ngModel)]="skillsApplication.colorExterno" minlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="typeSkills">Elija Si es Soft o Hard Skill </label>
                                <select class="form-control" id="typeSkills" name="typeSkills" [(ngModel)]="skillsApplication.typeSkills">
                                    <option value="SOFT">Soft</option>
                                    <option value="HARD">Hard</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label" for="nombre">Nombre: </label>
                                <input class="form-control" type="text" id="nombre" name="nombre"
                                    [(ngModel)]="skillsApplication.nombre" required maxlength="50"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="apellido">Apellido: </label>
                                <input class="form-control" type="text" id="apellido" name="apellido"
                                    [(ngModel)]="skillsApplication.apellido" required maxlength="50"/>
                            </div>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary buttonCancelar"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary buttonLogIn"
                            (click)="onCreateSkill()">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



