.box {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #000000;
    background: #000000;
    float: left;
}

.box:hover {
    box-shadow: 3px 3px 11px #F59B71;
}

.btn-primary {
    background-color: #F59B71;
    border: none;
    height: 5vh;
}

.btn-primary:hover {
    transition: .3s;
    background-color: #ce8766;
}


.descripcion{
    height: 30vh;
    overflow-y: scroll;
}

.card-title{
    height: 010vh
}

@media screen and (min-width: 929px) and (max-width: 1700px) {

    .btn-primary{
        height: 5vh;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {

    .btn-primary{
        height: 5.5vh;
    }
}