<div class="container-proyects-portfolio w-100 font background-color">
    <h2 class="subtitle1 p-5 w-100 d-flex justify-content-center mb-5 text-light" id="proyectos"> Proyectos </h2>
    <div class="all-cards m-auto d-flex justify-content-center">
        <section class="container-cards-proyects m-3" *ngFor="let Proyecto of proyectos">
            <div class="card background-card-color m-3" >
                <img src="{{ Proyecto.imagen }}" class="card-img-top"
                    alt="{{ Proyecto.nombreProyecto }}">
                <div class="card-body">
                    <h5 class="card-title text-light text-center p-3">{{ Proyecto.nombreProyecto }}</h5>
                    <div class="container-descripcion-fecha">
                        <p class="descripcion text-light p-2">{{ Proyecto.descripcion }}</p>
                        <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> {{ Proyecto.fechaRealizacion }}</p>
                    </div>
                    <div class="container buttons d-flex w-100 justify-content-center">
                        <a href="{{ Proyecto.urlGitHub }}" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                                data-icon="ion:logo-github"></span></a>
                        <a href="{{ Proyecto.urlVideo }}" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                                data-icon="ic:round-ondemand-video"></span></a>
                        <a href="{{ Proyecto.urlDeploy }}" class="btn btn-primary rounded-circle d-flex justify-content-center align-content-center"><span class="iconify"
                                data-icon="grommet-icons:deploy"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
