.all-cards{
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-cards-proyects {
    width: 38%;
}

.card {
    transition: box-shadow .3s;
    border-radius: 10px;
}

.background-card-color{
    background-color: #12151a !important;
}

.card:hover {
    box-shadow: 3px 3px 8px #F59B71;
}

.btn-primary {
    background-color: #F59B71;
    border: none;
    height: 3vh;
}

.btn-primary:hover {
    transition: .3s;
    background-color: #ce8766;
}


.descripcion{
    height:8vh;
    overflow-y: scroll;
}

.card-title{
    height: 10%;
}

@media screen and (max-width: 767px) {
    .all-cards{
        flex-direction: column;
        margin: auto;
    }

    .container-cards-proyects {
        width: 90%;
    }

    .descripcion{
        height:14vh;
        overflow-y: scroll;
    }

    .btn-primary {
        height: 5vh;
    }
}