.container-cards-proyects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #000000;
    background: #000000;
    margin: 10px;
    flex-basis: calc(100% / 3 - 20px);
}

.card:hover {
    box-shadow: 3px 3px 11px #F59B71;
}

.btn-primary {
    background-color: #F59B71;
    border: none;
    height: 2.5em;
}

.btn-primary:hover {
    transition: .3s;
    background-color: #ce8766;
}


.descripcion{
    height: 30%;
    overflow-y: scroll;
}

.card-title{
    height: 10%;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(100% - 20px);
    }
}

@media screen and (min-width: 1200px) {
    .btn-primary {
        height: 2.5em;
    }
}