<div class="container-proyects-portfolio w-100 font background-color">
    <h2 class="subtitle1 p-5 w-100 d-flex justify-content-center mb-5 text-light" id="proyectos"> Proyectos </h2>
    <section class="container-cards-proyects w-100 d-flex justify-content-center">
        <div class="card bg-dark box m-3 m-3" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683863339/mightyDucksHockeyLeagueProyect_kjmeyr.png" class="card-img-top"
                alt="Proyecto Mighty Ducks">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Mighty Ducks Hockey League</h5>
                <div class="container-descripcion-fecha">
                    <p class="descripcion text-light p-2">Mi primer Proyecto estático donde aprendi las bases de desarrollo web y a como usarlas, utilice las tecnologias de HTML Y CSS.</p>
                    <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> 2022-10-24</p>
                </div>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Mighty-Ducks" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1lpn0qQ2XMUs0u_CIR4imPVwfxJf1q5f_/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Mighty-Ducks/" class="btn btn-primary rounded-circle d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-2 m-3" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683863337/paraisoAnimalProyect_eadq4z.png" class="card-img-top" alt="Proyecto PetShop">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Paraiso Animal - PetShop</h5>
                <div class="container-descripcion-fecha">
                    <p class="descripcion text-light p-2">Este fue un proyecto grupal llamado challeng Petshop, donde se trabajo solo parte del front-end consumiendo una API, usando HTML, CSS y JS(fetch)</p>
                    <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> 2022-12-11</p>
                </div>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Challenge-Pet-Shop" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1hewUKYkXBNHT4BpseLRbHEoY8zD2_q90/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Paraiso-Animal-Petshop/" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-3 m-3" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683863340/theCampProyect_vuem1i.png" class="card-img-top" alt="Proyecto The Camp">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3 ">The Camp - Cerveceria</h5>
                <div class="container-descripcion-fecha">
                    <p class="descripcion text-light p-2">Este es otro proyecto grupal llamado Challenge Final donde se trabajo front-end usando HTML, CSS, VUE.JS(AXIOS), BOOTSTRAP y en el back-end usando JAVA, SPRING, SPRING BOOT, HIBERNATE, SPRING SECURITY, POSTGRESQL, entre otras cosas.</p>
                    <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> 2023-01-16</p>
                </div>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/The-Camp" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1TXmbk60XvzYznpSvd3TlX8f1hIs0zOxR/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box m-3" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683863337/statbucksProyect_wcfkzk.png" class="card-img-top" alt="Proyecto Starbucks">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Starbucks - Pagina Web</h5>
                <div class="container-descripcion-fecha">
                    <p class="descripcion text-light p-2">Este es un proyecto solo de Front-end el cual me falta terminar, en este use las tecnologias de HTML, CSS, BOOTSTRAP, JS(EMAIL.JS)</p>
                    <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> 2023-03-20</p>
                </div>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Starbucks-new-desing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1GRn0e1sKXkYJIj7iWngNEFYDyisWf8MW/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Starbucks-new-desing/" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-2 m-3" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683863295/homebankingProyecto_eaxepe.png" class="card-img-top" alt="Proyecto Homebanking">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Alfonsina Homebanking - Aplicacion web</h5>
                <div class="container-descripcion-fecha">
                    <p class="descripcion text-light p-2">Es un proyecto totalmente hecho por mi tanto como en front-end donde utilice HTML, CSS, VUE.JS(AXIOS), BOOTSTAP, y en el back-end JAVA, SPRING, SPRING BOOT, HIBERNATE, SPRING SECURITY, POSTGRESQL, entre otras cosas.</p>
                    <p class="fecha-realizacion text-light"> <span class="color2">Fecha de Realizacion:</span> 2023-01-29</p>
                </div>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Alfonsina-Homebanking" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1ltME6GdHLtObrBdzd2uZyCYDzb8Z30dQ/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                </div>
            </div>
        </div>
    </section>
</div>
