<div class="container-certifications background-color font text-light">
    <h2 class="subtitle1 p-3 w-100 d-flex justify-content-center mb-3 text-light" id="educacion"> Educacion </h2>
    <section class="certifications" *ngFor="let Educacion of educacion">
        <div class="container-title-img-certification w-100 d-flex justify-content-center mb-3">
            <div class="class-container-img w-100 d-flex justify-content-center">
                <img src="{{ Educacion.imagenCertificado }}" alt="{{ Educacion.titulo }}" class="img-certification">
            </div>
            <h3 class="title-certification text-light p-2 text-center mt-3 mb-3">
                {{ Educacion.titulo }}
            </h3>
            <div class="container-fechas d-flex">
                <p class="fechas fs-4"><span class="color1"> Inicio: </span> {{ Educacion.inicio }}</p>
                <p class="fechas fs-4"><span class="color2"> Fin: </span> {{ Educacion.fin }} </p>
            </div>
        </div>
    </section>
</div>
