<div class="container-fluid background-color font text-light" id="skills">
    <div class="w-100">
        <h2 class="subtitle1 text-center p-5 w-100 d-flex justify-content-center mb-5 text-light"> Hard skills</h2>
        <div class="all-circles w-100">
            <div class="m-auto container-circle-title d-flex flex-wrap">
                <div class="circle m-auto" *ngFor="let skill of hardSkills">
                    <circle-progress 
                    [percent]="skill.porcentaje" 
                    [outerStrokeColor]="skill.colorExterno"
                    [innerStrokeColor]="skill.colorInterno" 
                    [imageSrc]="skill.imgsrc"></circle-progress>
                    <p class="fw-bold text-center">{{ skill.nombreSkill }}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <h2 class="subtitle1 text-center p-5 w-100 d-flex justify-content-center mb-5 text-light"> Soft skills</h2>
        <div class="all-circles w-100">
            <div class="m-auto container-circle-title d-flex flex-wrap">
                <div class="circle m-auto" *ngFor="let skill of softSkills">
                    <circle-progress 
                    [percent]="skill.porcentaje" 
                    [outerStrokeColor]="skill.colorExterno"
                    [innerStrokeColor]="skill.colorInterno" 
                    [imageSrc]="skill.imgsrc"></circle-progress>
                    <p class="fw-bold text-center">{{ skill.nombreSkill }}</p>
            </div>
            </div>
        </div>
    </div>
</div>