<section class="font w-100 d-flex background-color">
    <div class="container-image-AC d-flex justify-content-center flex-column text-light flex-wrap">
        <div class="image" >
            <img class="image-AC border" src="https://res.cloudinary.com/dhcurgqlc/image/upload/v1683826202/Image-portfolio-Agustina-Chiodini_hxyltd.png"
                alt="Agustina Chiodini Image">
        </div>
        <div class="container-hi-titulo-nombre">
            <div>
                <p class="paragraph-hi">Hola!</p>
            </div>
            <div class="container-titulo-nombre">
                <h3 class="nombreApellido">Soy <span class="color1">Agustina Chiodini</span></h3>
                <h4 class="tituloDev"> <span class="color2">Desarrolladora Full-Stack jr.</span></h4>
            </div>
        </div>
    </div>


    <div class="parrafos-sobre-mi-posicion">
        <div class="container-parrafos text-light w-100 d-flex flex-row justify-content-between p-2">
            <div class="parrafo1 fs-5">
                Como Desarrolladora Full-Stack en Java, me destaco por mi capacidad para trabajar en equipo y mi compromiso con el éxito del proyecto. Con mi formación en MindHub y más de 700 horas de práctica en entornos laborales simulados con metodologías ágiles SCRUM, puedo adaptarme fácilmente a diferentes desafíos y asegurar la calidad de las soluciones tecnológicas que desarrollo.
            </div>
            <div class="parrafo1 fs-5">
                He trabajado con HTML, CSS, Bootstrap, JavaScript, Vue.js, Spring Framework, PostgreSQL, Postman, Trello y Figma, y los he implementado tanto en proyectos individuales como grupales. Si quieres ver ejemplos de mi trabajo, puedes consultar mi GitHub, donde encontrarás algunos de mis proyectos más recientes y relevantes.
            </div>
        </div>
    </div>
    
</section>
