@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mukta:wght@200;300;400;500;600;700;800&family=Patrick+Hand&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

html {
    font-family: 'Itim', cursive;
    scroll-behavior: smooth;
    background-color: #191D24;
}

.color1 {
    color: #63CCCA;
}

.color2 {
    color: #FF7474;
}

.background-color{
    background-color: #191D24;
}

.background-color-footer{
    background-color: #111318;
}

.subtitle1{
    font-family: 'Mukta', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

.font{
    font-family: 'Itim', cursive;
}


@media screen and (min-width: 300px) and (max-width: 1420px){
    .subtitle1{
        font-size: 3rem;
    }

    .footer{
        width: 80%;
        margin: auto;
    }
}